<style is:global>
	mjx-container[jax="SVG"] > svg {
		display: unset;
		max-width: unset;
		height: unset;
	}

	.latex-hidden {
		position: absolute;
		top: 0%;
		left: 0%;
		transform: translate(2px, 2px);
		width: 1px;
		height: 1px;
		overflow: hidden;
		font-family: monospace;
	}
</style>

<script>
	declare global {
		interface Window {
			MathJax: any;
		}
	}

	window.MathJax = {
		options: {
			processHtmlClass: "raw-latex-wrapper",
		},
		tex: {
			inlineMath: [
				["$", "$"],
				["\\(", "\\)"],
			],
			displayMath: [
				["$$", "$$"],
				["\\[", "\\]"],
			],
			processEscapes: true,
			processEnvironments: true,
			macros: {
				mag: ["\\lvert #1 \\rvert", 1],
				deg: "^\\circ",
				unit: ["\\text{#1}", 1],
			},
		},
		startup: {
			ready: () => {
				window.MathJax.startup.defaultReady();
				window.MathJax.startup.promise.then(() => {
					document
						.querySelectorAll("mjx-container")
						.forEach(function (x) {
							const mathitem =
								window.MathJax.startup.document.getMathItemsWithin(
									x
								)[0];

							// Make the hidden source container
							interface MathItem {
								display: boolean;
								math: string;
							}
							const get_tex_container = (mathitem: MathItem) => {
								let container;
								if (mathitem.display) {
									container = document.createElement("div");
								} else {
									container = document.createElement("span");
								}

								container.className = "latex-hidden";
								container.setAttribute("aria-hidden", "true");

								if (!mathitem.display) {
									container.innerHTML =
										"$" + mathitem.math + "$";
								} else {
									// Don't wrap \begin{align*} \end{align*}
									if (
										mathitem.math.startsWith(
											"\\begin{align*}"
										)
									) {
										container.innerHTML = mathitem.math;
									} else {
										container.innerHTML =
											"\\[" + mathitem.math + "\\]";
									}
								}

								return container;
							};
							x.insertBefore(
								get_tex_container(mathitem),
								x.childNodes[1]
							);

							// Remove code and pre-wrapper now
							while (
								x.parentElement?.classList.contains(
									"raw-latex-wrapper"
								)
							) {
								x.parentElement?.replaceWith(x);
							}
						});
				});
			},
		},
	};

	(function () {
		var script = document.createElement("script");
		script.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js";
		script.async = true;
		document.head.appendChild(script);
	})();
</script>
