:root,
::backdrop {
	/* Text size and line height */
	--sl-text-xs: 0.875rem; /* 14px */
	--sl-text-sm: 1rem; /* 16px */
	--sl-text-base: 1.125rem; /* 18px */
	--sl-text-lg: 1.25rem; /* 20px */
	--sl-text-xl: 1.5rem; /* 24px */
	--sl-text-2xl: 1.8125rem; /* 29px */
	--sl-text-3xl: 2.1875rem; /* 35px */
	--sl-text-4xl: 2.625rem; /* 42px */
	--sl-text-5xl: 3.25rem; /* 52px */
	--sl-text-6xl: 4rem; /* 64px */
	--sl-line-height: 1.5;
}

body {
	font-family: "Atkinson Hyperlegible", sans-serif;
}

.site-title {
	gap: 0.5em;
}

.sidebar li {
	margin-left: 16px;
}

.sidebar > ul > li {
	margin-left: 0;
}

/*irritating override for Firefox to handle <br> in certain situations properly*/
.content br + :not(a, strong, em, del, span, input) {
	margin-top: unset;
}
